body {
  margin: 0;
  padding: 0;
}

form {
  display: flex;
  flex-direction: column;
  padding: 12px;
  margin: 0 auto;
  max-width: 768px;
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 90vw;
  margin: 0 auto;
  max-width: 768px;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 4px;
  border-bottom: 1px solid black;
}

@media screen and (max-width: 425px) {
  main {
    grid-template-columns: 1fr;
  }
}